* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: large;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
body{
    background: linear-gradient(to top,skyblue,blue);
    background-color: red;
}
p{
    border-radius: 5px;
    border-style: outset;
}
