* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: large;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
<<<<<<< HEAD
    background-color: rgb(212, 177, 18);
}
=======
    background: orange;
}

>>>>>>> 49fbbddf93fc075b1af026695c43cb1b9062845e
